.spinner-border {
  vertical-align: -0.75em !important;
}

.share {
  margin-right: 0.5em;
}

.share-div,
.delta-div,
.hw-div,
.locker-div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #e0e0e0;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.btn-primary {
  background-color: #00497a !important;
  border-color: #0063a5 !important;
}

.btn-primary:hover {
  background-color: #0063a5 !important;
  border-color: #00497a !important;
}

.btn-danger {
  background-color: #7a001e !important;
  border-color: #aa002b !important;
}

.btn-danger:hover {
  background-color: #aa002b !important;
  border-color: #7a001e !important;
}

.btn-success {
  background-color: #006321 !important;
  border-color: #009130 !important;
}

.btn-success:hover {
  background-color: #009130 !important;
  border-color: #006321 !important;
}

.btn-success:disabled {
  cursor: not-allowed !important;
}

.logout {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
}

/* dark theme */
* {
  background-color: #1c1c1c !important;
  color: #fff !important;
  border-color: #525252 !important;
  box-shadow: none !important;
  font-family: 'Roboto', 'Calibri', Arial, Helvetica, sans-serif !important;
}

.form-control {
  background-color: #2e2e2e !important;
  width: auto !important;
}

ul {
  list-style-type: circle;
}

/* make schedule table be responsible for mobile */
/* @media (max-width: 768px) { */
/*   table{ */
/*     display: block; */
/*     width: 100%; */
/*     overflow-x: auto; */
/*     -webkit-overflow-scrolling: touch; */
/*   } */
/* } */

table{
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* make table head names be the same width as the longest value in their column */
/* table { */
/*   table-layout: fixed; */
/* } */

/* make specifically the first column of the schedule table to be 2 characters wide */
/* .day-head { */
/*   padding-right: 1rem; */
/*   padding-left: 1rem; */
/* } */
